<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h3>DETECTION FORM</h3>
    <form id="detectionForm">
        <table>
            <tr>
                <th>file</th>
                <td><input type="file" multiple="multiple" name="file[]"></td>
            </tr>
            <tr>
                <th>item file</th>
                <td><input type="file" name="ppl_file"></td>
            </tr>
            <tr>
                <th>item url</th>
                <td><input type="text" name="item_url"></td>
            </tr>
        </table>
        <button type="button" id="saveBtn">실행</button>
    </form>
</body>
</html>
<script>
    'use strict';
    let detectionForm = (function () {
        let documentSetting = function () {
            document.getElementById('saveBtn').addEventListener("click", function () {
               save();
            });
        }
        let setFormData = function () {
            let formData = new FormData(document.getElementById('detectionForm'));
            return formData;
        }
        let save = function () {
            let formData = setFormData();
            let options = {
                method : 'POST',
                body : formData
            }
            fetch('/detection', options)
                .then(response => response.json())
                .then((json) => {
                    if (json['code'] == '200') {
                        alert('성공적으로 저장되었습니다.');
                        location.href = `/cartoon_view?dir_name=${json['dir_name']}&detected_image_list=${json['detected_image_list']}&ppl_data=${json['ppl_data']}&item_url=${json['item_url']}`;
                    }
                });
        }
        return {
            init:documentSetting
        }
    })();
    document.addEventListener('DOMContentLoaded', function () {
       detectionForm.init();
    });
</script>